body {
  background-color: #b6fcf3;
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  color: #fffdef;
  text-shadow: 1px 0 grey, 0 1px grey, 1px 0 grey, 0 1px grey;
  font-weight: 200px;
  letter-spacing: 2px;
}

td {
  font-size: 16px;
  height: 100px;
  width: 100px;
  text-align: center;
}

input {
  margin-bottom: 20px;
  width: 100%;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 1px;
  border: 1px solid white;
  color: grey;
}

td:first-of-type{
  display: flex;
}

td:first-of-type, td:first-of-type > div {
  height: 150px;
  width: 200px;
  margin: auto;
}

th {
  width: 20%;
  font-size: 20px;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}
