td {
  font-size: 20px;
  height: 100px;
  width: 100px;
  text-align: center;
}

td:first-of-type{
  display: flex;
}

td:first-of-type, td:first-of-type > div {
  height: 150px;
  width: 225px;
  margin: auto;
}

th {
  width: 20%;
  font-size: 20px;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}
